process {
    publishDir = {"./results_rbx/$sid/$task.process"}
    scratch = true
    stageInMode = 'copy'
    stageOutMode = 'rsync'
    tag = { "$sid" }
    afterScript = 'sleep 1'
}

params {
    help=false
    root=false
    atlas_directory=false
    run_average_bundles=false
    single_dataset_size=4

    //**Recobundle segmentation**//
        minimal_vote_ratio=0.1
        seed=0
        outlier_alpha=0.5

    //**Number of processes per tasks**//
        register_processes=4
        rbx_processes=4
        single_dataset_size_GB=2

    //**Process control**//
        processes = false

    Average_Bundles_Publish_Dir = "./results_rbx/Average_Bundles"
}

if(params.processes) {
    if(params.processes > Runtime.runtime.availableProcessors()) {
        throw new RuntimeException("Number of processes higher than available CPUs.")
    }
    else if(params.processes < 1) {
        throw new RuntimeException("When set, number of processes must be >= 1 " +
                                   "and smaller or equal to the number of CPUs.")
    }
    else {
        executor.$local.cpus = params.processes
    }
}

singularity.autoMounts = true

profiles {
    fully_reproducible {
        params.register_processes=1
        params.rbx_processes=1
    }

    macos {
            process.scratch="/tmp"
    }

    cbrain {
      process{
        publishDir = [path: {"./results_rbx/$sid/$task.process"}, mode: 'copy']
      }
    }
}
